; ���� �ɸ��� ���� ����
; seamless�� �þ �����ϸ���� ��� �Ķ���͵��� �����Ѵ�.
;
;
; TILE_LENGTH=[Ÿ�ϱ���]
; ���簢�� Ÿ���� ���ʸ��� ����. float�����̹Ƿ� �Ǽ�(�Ҽ��� ����)�� ������ �� �ִ�.
;
; TILECOUNT_PER_SEGMENT=[���׸�Ʈ �� Ÿ�ϰ���]
; ���簢�� ���·� �̷���� ���׸�Ʈ�� ���ʸ鿡 ���� Ÿ�� ����.
; ( �� 4x4�� 16���� Ÿ���� ���� ���׸�Ʈ��� 4�� �����Ѵ�. )
;
; SEGMENTCOUNT_PER_MAP=[�� �� ���׸�Ʈ����]
; ���簢�� ���·� �̷���� ���� ���ʸ鿡 ���� ���׸�Ʈ ����.
; ( �� 10x10�� 100���� ���׸�Ʈ�� ���� ���̶�� 10�� �����Ѵ�. )
;
; SETFOV=[FOV��]
; float�����̹Ƿ� �Ǽ�(�Ҽ��� ����)�� ������ �� �ִ�.
; 0�̳� 0���� ���� ���� �Է��� ��� �ý��� �⺻������ �����ȴ�.
;
;
; MAPSIZE=[���� ����],[���� ����]
; ��ü �ʵ��� ����/���η� �þ ����
; MAPFILE �׸񺸴� �ռ��� 1���� ���;� ��. ( �׷��� ������ �ʱ�ȭ�� �����Ѵ�. )
;
;
; MAPFILE=[X��ġ],[Y��ġ],[Ȯ���ڸ� ������ �� ���ϸ�]
; ��ǥ�� �ߺ��Ǹ� �ʱ�ȭ�� �����Ѵ�. ��ǥ�� ���� �ϴ��� (0,0)����
; ������� ������ Y��ǥ��, �������� ������ X��ǥ�� �����Ѵ�.
;
;
;
; ����>
;
; +--------+--------+--------+--------+
; |        |        |        |        |
; | f.nfm  | g.nfm  |        |        |
; |        |        |        |        |
; +--------+--------+--------+--------+
; |        |        |        |        |
; | e.nfm  |        |        |        |
; |        |        |        |        |
; +--------+--------+--------+--------+
; |        |        |        |        |
; | a.nfm  | b.nfm  | c.nfm  | d.nfm  |
; |        |        |        |        |
; +--------+--------+--------+--------+
;
; MAPSIZE=4,3
; MAPFILE=0,0,a
; MAPFILE=1,0,b
; MAPFILE=2,0,c
; MAPFILE=3,0,d
; MAPFILE=0,1,e
; MAPFILE=0,2,f
; MAPFILE=1,2,g
;
; ���� ����(�� ĭ)�� ������� �� ��.
; ������ ùĭ�� �����ݷ�( ; )�� ����ϸ� �ּ����� ó���ȴ�.
;

TILE_LENGTH=42
TILECOUNT_PER_SEGMENT=6
SEGMENTCOUNT_PER_MAP=64

SETFOV=0.7

MAPLAYER=20

MAPSIZE=14,16


;=== [���� �ʵ�] ==========================
MAPFILE=0,0,0,M000_000,10
; ��ũ�� (���ٸ���)

MAPFILE=7,9,0,M007_009,70900
; ���ž

MAPFILE=7,8,0,M007_008,70800
; ��ũ�� �ʵ�, ������

MAPFILE=8,9,0,M008_009,80900
; ������� ������, ������ ��

MAPFILE=8,8,0,M008_008,80800
; ���÷� �������/���̷��� ��



;=== [��Ÿ] ==========================
MAPFILE=0,1,0,M000_001,100300
; �׽�Ʈ�� �� 1. �ÿ��� ��ؽ� ���/ 7089 26155


MAPFILE=1,3,0,M001_003,100300
; �׽�Ʈ�� �� 4/ ���� �̺�Ʈ ����



MAPFILE=1,5,0,M001_005,100500
; �׽�Ʈ�� �� 6/ ����Ʈ �̺�Ʈ ����



;=== [�Ƽ��� �ʵ�] ==========================
MAPFILE=6,3,0,M006_003,60300
; ������

MAPFILE=7,3,0,M007_003,70300
; īź ����

MAPFILE=6,4,0,M006_004,60400
; ���̶�� ����, ��ؽ� ���

MAPFILE=7,4,0,M007_004,70400
; ������ ȭ���� (īź ���ʾ��)

MAPFILE=8,3,0,M008_003,80300
; ������ ��Ż 




;=== [���̾� �ʵ�] ==========================
MAPFILE=8,5,0,M008_005,80500
; ��ȭ�� ��������, �޸��� �޺��� ����

MAPFILE=8,4,0,M008_004,80400
; ��ȥ�� ����


MAPFILE=9,5,0,M009_005,90500
; �볪����, ��1 �߸�� ź��

MAPFILE=9,4,0,M009_004,90400
; ȣ������(����)dhsmf





;=== [�е� �ʵ�] ==========================

MAPFILE=10,8,0,M010_008,100800
; ���� ���� 

MAPFILE=9,9,0,M009_009,90900
; �������� ������ī ������ 

MAPFILE=9,8,0,M009_008,90800
; �������� ������ī ������

MAPFILE=10,7,0,M010_007,100700
; ĥ���� ��

MAPFILE=9,7,0,M009_007,90700
; ĥ���� ��

MAPFILE=9,6,0,M009_006,90600
; Ǫ�� �����, ��ī ȣ��, ��2�߸�� ź��

MAPFILE=8,7,0,M008_007,80700
; �ȹ̸� ����, ����

MAPFILE=8,6,0,M008_006,80600
; �е�

MAPFILE=7,7,0,M007_007,70700
; �ؾȰ�

MAPFILE=7,6,0,M007_006,70600
; ħ������

MAPFILE=7,5,0,M007_005,70500
; ������ �縷, �縷 ����, ���ƽý�

MAPFILE=6,5,0,M006_005,60500
; ������ �庮, ������ �縷

MAPFILE=6,6,0,M006_006,60600
; ������ ��

MAPFILE=5,6,0,M005_006,50600
; ������ ��

MAPFILE=5,7,0,M005_007,50700
; �����Ա�

;----------------------------------


MAPFILE=10,6,0,M010_006,100300
; �ؾȰ�

MAPFILE=10,5,0,M010_005,100300
; �ؾȰ�

MAPFILE=11,9,0,M011_009,100300
; ������

MAPFILE=10,9,0,M010_009,100300
; �ؾȰ� 
;=== [ũ��Ÿ �ʵ�] ==========================
MAPFILE=5,5,0,M005_005,500500
; ����� ��



;=== [������ ��] ====================================
MAPFILE=10,3,0,M010_003,100300
; ������ �� /18000 52000

MAPFILE=9,2,0,M009_002,100300
; ������ �� �ֺ��ٴ�1 / 8948 36025

MAPFILE=10,2,0,M010_002,100300
; ������ �� �ֺ��ٴ�2/ 25076 36025

MAPFILE=9,3,0,M009_003,100300
; ������ �� �ֺ��ٴ�4/ 8948 52153

MAPFILE=11,3,0,M011_003,100300
; ������ �� �ֺ��ٴ�5/ 41204 52153

MAPFILE=10,4,0,M010_004,100300
; ������ �� �ֺ��ٴ�6/ 41204 52153


MAPFILE=11,4,0,M011_004,100300
; ������ �� �ֺ��ٴ�7/ 41204 52153




;=== [���� ������Ÿ��] ====================================
MAPFILE=13,0,0,M013_000,130000

; �Ҿ���� ����<1

;=== [���� ������Ÿ��2] ====================================
MAPFILE=13,2,0,M013_002,130200

; ������ ���� 

;=== [���� ������Ÿ��3] ====================================
MAPFILE=13,3,0,M013_003,130300

; ���� ���<1

;=== [ ���̾� ���ο��� ���� ] ====================================
MAPFILE=13,1,0,M013_001,130100

; ��ũ��Ʈ

;=== [���� ������Ÿ��4] ====================================
MAPFILE=13,4,0,M013_004,130400

; �޸��� �� �� ����<1


;=== [���� ������Ÿ��5] ====================================
MAPFILE=13,5,0,M013_005,130500

; ���� ���<2


;=== [���� ������Ÿ��6] ====================================
MAPFILE=13,6,0,M013_006,130600

; �Ҿ���� ����<2

;=== [���� ������Ÿ��7] ====================================
MAPFILE=13,7,0,M013_007,130700

; �޸��� �� �� ����<2


;=== [���� ������Ÿ��8] ====================================
MAPFILE=13,8,0,M013_008,130800

; �ȹ̸� ����<1

;=== [���� ������Ÿ��9] ====================================
MAPFILE=13,9,0,M013_009,130900

; �ȹ̸� ����<2



;=== [���� ������Ÿ��12] ====================================
MAPFILE=12,7,0,M012_007,120700

; �� ī�þ�


;=== [�̺�Ʈ ����1] ====================================
MAPFILE=12,0,0,M012_000,120000

; ����Ʈ �޾�1



;=== [�̺�Ʈ ����2] ====================================
MAPFILE=11,0,0,M011_000,110000

; ���� ����1

;=== [�̺�Ʈ ����1-1] ====================================
MAPFILE=10,0,0,M010_000,100000

; ����Ʈ �޾�2



;=== [�̺�Ʈ ����2-1] ====================================
MAPFILE=9,0,0,M009_000,90000

; ���� ����2

;=== [�̺�Ʈ ����2-1] ====================================
MAPFILE=7,0,0,M007_000,70000

; ���� ����3

;=== [�̺�Ʈ ����] ====================================

MAPFILE=5,0,0,M005_000,50000
; ������

;=== [�ǳ� ����1] ====================================
MAPFILE=12,10,0,M012_010,121000

; ����ǽ���



;=== [�ǳ� ����2] ====================================
MAPFILE=12,9,0,M012_009,120900

; ����� �״�


;=== [�ǳ� ����3] ====================================
MAPFILE=12,8,0,M012_008,120800

; ����� ����

;=== [�ǳ� ����4] ====================================
MAPFILE=11,2,0,M011_002,110200

; ���� ��̾�


;=== [ĳ���� ���� â ��������] ==========================

MAPFILE=11,8,0,M011_008,110800
MAPFILE=11,7,0,M011_007,110700
MAPFILE=11,6,0,M011_006,110600



;=== [����Ĺ ����] ==========================

MAPFILE=12,4,0,M012_004,120400

; ����Ĺ ����


;=== [������ġ�� 1] ====================================
MAPFILE=12,6,0,M012_006,120600

; ������ġ�� 1-4��ũ


;=== [������ġ�� 2] ====================================
MAPFILE=12,5,0,M012_005,120500

; ������ġ�� 5-8��ũ



;=== [�������� ������] ==========================

MAPFILE=12,3,0,M012_003,120300

; �������� ������


;=== [�Ҿ���� ��] ==========================

MAPFILE=5,8,0,M005_008,50800
MAPFILE=6,8,0,M006_008,60800
MAPFILE=6,7,0,M006_007,60700

; �Ҿ���� ��



;=== [�ǳ� ����5] ====================================
MAPFILE=12,2,0,M012_002,120200

; ������ �ȹ̸� ���� �� 1 ��

;=== [�ǳ� ����6] ====================================
MAPFILE=1,1,0,M001_001,10100

; �������� ����

;=== [�ǳ� ����7] ====================================
MAPFILE=11,01,0,M011_001,110100

; ������ �� ī�þ�

;=== [�ǳ� ����8] ====================================
MAPFILE=10,1,0,M010_001,100100

; ������ ����� ����

;=== [�ǳ� ����9] ====================================
MAPFILE=9,01,0,M009_001,90100

; ������ ����� �״�

;=== [�ǳ� ����10] ====================================
MAPFILE=8,01,0,M008_001,80100

; ������ ����� ����


;=== [�ǳ� ����11] ====================================
MAPFILE=7,01,0,M007_001,70100

; ������ ���� ���


;=== [�ǳ� ����12] ====================================
MAPFILE=1,2,0,M001_002,10200

; ������ ����


;=== [�ǳ� ����13] ====================================
MAPFILE=12,01,0,M012_001,120100

; �ν���Ʈ ����

;=== [�ǳ� ����14] ====================================
MAPFILE=6,01,0,M006_001,60100

; ť�긯����

;=== [�󸶴ܱ⵵��] ====================================
MAPFILE=1,0,0,M001_000,10000

; �󸶴ܱ⵵��


;=== [��Ʋ�Ʒ���] ====================================
MAPFILE=4,5,0,M004_005,40500
; ��Ʋ�Ʒ��� Ŭ����/������ 2:2

MAPFILE=3,5,0,M003_005,30500
; ��Ʋ�Ʒ��� Ŭ����/������ 4:4

MAPFILE=2,5,0,M002_005,20500
; ��Ʋ�Ʒ��� Ŭ����/������ 8:8

MAPFILE=4,4,0,M004_004,40400
; ��Ʋ�Ʒ��� Ŭ����/������ 16:16

MAPFILE=3,4,0,M003_004,30400
; ��Ʋ�Ʒ��� ���� 4:4

MAPFILE=2,4,0,M002_004,20400
; ��Ʋ�Ʒ��� ���� 8:8

MAPFILE=1,4,0,M001_004,10400
; ��Ʋ�Ʒ��� ���� 16:16

MAPFILE=2,3,0,M002_003,20300
; ��Ʋ�Ʒ��� ������ ������

;=== [������Ŭ���� ���� �ű�4�� ����] ====================================
MAPFILE=3,1,0,M003_001,30100
; ������� ���ϱ���

MAPFILE=3,0,0,M003_000,30000
; �ȹ̸� ���� ���ϱ���

MAPFILE=2,0,0,M002_000,20000
; �߸�� ź�� ���ϱ���

MAPFILE=2,1,0,M002_001,20100
; �޺� ���� ���ϱ���

MAPFILE=2,2,0,M002_002,20200
; ������ ����

MAPFILE=2,6,0,M002_006,20600
; ���ϰ���


MAPFILE=2,7,0,M002_007,20700
; �����Ź̼�Ŀ���� �ܺ�

MAPFILE=2,8,0,M002_008,20800
; �����Ź̼�Ŀ���� ����

MAPFILE=13,11,0,M013_011,131100
MAPFILE=1,6,0,M001_006,10600
MAPFILE=12,11,0,M012_011,121100
MAPFILE=1,10,0,M001_010,11000
MAPFILE=4,1,0,M004_001,40100		; �������
